* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    outline: none;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

head, script {
    display: none;
}

a, span, sub, sup, b, strong, i, em, s, q {
    display: inline;
}

/*li {
    display: list-item;
    margin-left: 20px;
}*/

table {
    display: table;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

tr {
    display: table-row;
}

td, th {
    display: table-cell;
}

caption {
    display: table-caption;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

noindex {
    display: inline;
}

.bottom-before-footer{
    text-align: center;
    margin-bottom: 100px;
}

.btn-green-inline{
    border-radius: 3px;
    background: #96bf30;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: .2s color,.2s background;
    box-shadow: 0 11px 20px 0 rgba(119,163,9,0.25);
}